.papi {
	width: 70%;
	border: solid 1px gray;
}
.primi {
	background-color: #FFFF00;
	width: 25%;
	height: 100px;
	float: left;
}
.segun {
	background-color: #3A81BA;
	width: 25%;
	height: 100px;
	float: left;
}
.terci {
	background-color: #ED2251;
	width: 25%;
	height: 100px;
	float: left;
}